<template>
  <div @click="onClick">
    <div class="inline field">
      <label>id: </label>
      <span>{{rowData.id}}</span>
    </div>
    <% for ( i=0; i<attributesArr.length; i++ ) { -%>
      <div class="inline field">
        <label><%- attributesArr[i][0] -%>:</label>
        <span>{{rowData.<%- attributesArr[i][0] -%>}}</span>
      </div>
    <% } -%>

  <% for ( i=0; i<belongsTosArr.length; i++ ) { -%>
    <% var bt = belongsTosArr[i] -%>

    <div id="<%- nameLc -%>-<%- bt.targetModelLc -%>-div">
      <div class="inline field">
        <label><%- bt.relationName -%>:</label>
        <span>{{<%- bt.targetModelLc -%>InitialLabel}}</span>
      </div>
    </div>

  <% } -%>

  <% for ( i=0; i<hasManysArr.length; i++ ) { -%>
    <% var rel = hasManysArr[i] -%>

    <div id="<%- nameLc -%>-<%- rel.relationName -%>-div" class="row w-100">
      <div class="col">
        <label><%- rel.relationName -%>:</label>
        <scroll-list class="list-group"
          :url="this.$baseUrl()"
          :idSelected="rowData.id"
          :countQuery="rowData.countFiltered<%-rel.targetModelPlCp-%>"
          query="readOne<%-nameCp-%>"
          subQuery="<%-rel.targetModelPlLc-%>Filter"
          label="<%-rel.label-%>"
          subLabel=<%if(rel.sublabel){%>"<%-rel.sublabel-%>"<%}else{-%>""<%}%>
        > </scroll-list>
      </div>
    </div>


<%}-%>

  </div>
</template>

<script>
import Vue from 'vue'
import scrollListElement from './scrollListElement.vue'

Vue.component('scroll-list', scrollListElement)

export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  computed: {
  <% for ( i=0; i<belongsTosArr.length; i++ ) { -%>
    <% var bt = belongsTosArr[i] -%>
    <%- bt.targetModelLc -%>InitialLabel: function () {
      var x = this.rowData.<%- bt.relationName %>
      if (x !== null && typeof x === 'object' &&
          x['<%- bt.label -%>'] !== null &&
          typeof x['<%- bt.label -%>'] !== 'undefined') {
        return x['<%- bt.label -%>']
      } else {
        return ''
      }
    }
    <% if (i < (belongsTosArr.length - 1)) { -%>
    ,
    <% } -%>
  <% } -%>
  },
  methods: {
    onClick (event) {
      console.log('my-detail-row: on-click', event.target)
    }
  }
}
</script>
